body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	
	background-color: #ffffff;
	word-wrap: break-word;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
	margin-bottom: 60px;
	
	font-family: Cuprum, Arial, sans-serif;
	
	background-color: #f3f7f9;
}

.header-top {
	margin-bottom: 46px;
	
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	
	background-color: #293449;
}

.logo {
	font-family: Cuprum, Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
	/*border-bottom: 5px solid #b52933;*/
}

.header-logo{
	padding-top: 10px;
	padding-bottom: 8px;
	padding-right: 55px;
	padding-left: 55px;
	font-size: 24px;
	line-height: 24px;

}

.header-logo:hover,
.footer-logo:hover {
	background-color: #ca2c37;
	
	box-shadow: 0 5px 0 0 #9a212a;
	/*border-bottom-color: #9a212a;*/
}

.header-logo:active,
.footer-logo:active {
	background-color: #ba2732;
	
	box-shadow: 0 5px 0 0 #8e1e26;
	/*border-bottom-color: #8e1e26;*/
}

.site-search-form {
	position: relative;
}

.site-search-form::before {
	z-index:1;
	position: absolute;
	content: "";
	width: 17px;
	height: 17px;
	top: 12px;
	left: 17px;
	background-image: url("../img/icon-search.svg");
	backgroun-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.site-search-form:hover::before {
	opacity: 1;
}

.site-search-input {
	position: relative;
	min-width: 217px;
	padding-top: 11px;
	padding-left: 48px;
	padding-right: 5px;
	padding-bottom: 11px;
	color: #293449;
	border: none;
	background-color: #293449;
}

.site-search-input:hover {
	 background-color: #212a3a;
}

.site-search-input:focus {
	z-index: 1;
	background-color: #ffffff;
	background-image: url("../img/icon-search-red.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.site-search-input::-webkit-input-placeholder {color: #ffffff;}
.site-search-input::-moz-placeholder {color: #ffffff;}
.site-search-input:-ms-input-placeholder {color: #ffffff;}
.site-search-input:-moz-placeholder {color: #ffffff;}
	
.header-buy-items,
.site-navigation,
.user-login-list,
.user-order-menu {
	margin:0;
	padding: 0;
	list-style: none;
}

.user-order-menu {
	position: relative;
	display: flex;
	margin-top: 4px;
	padding-left: 19px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.user-order-menu::before {
	position:absolute;
	content: "";
	width: 4px;
	height: 4px;
	top: 10px;
	left: 109px;
	border-radius: 50%;
	background-color: #32425c;
}

.user-name {
	display: flex;
	justify-content: space-between;
	min-width: 243px;
	padding-top: 12px;
	padding-left: 48px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}

.header-buy-items a,
.site-navigation a {
	color: #ffffff;
}

.header-buy-item:hover {
	background-color: #212a3a;
}

.header-buy-items li {
	display: flex;
}

.header-buy-item {
	padding-top: 11px;
	padding-bottom: 4px;
}

.buy-item-bookmark {
	position: relative;
	min-width: 100px;
	padding-right: 6px;
	padding-left: 44px;
}

.buy-item-bookmark::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 16px;
	top: 12px;
	left: 17px;
	
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
} 

.buy-item-bookmark:hover::before,
.buy-item-basket:hover::before  {
	opacity: 1;
}

.buy-item-bookmark:active::before,
.buy-item-basket:active::before  {
	opacity: 0.5;
}

.buy-item-basket {
	position: relative;
	padding-left: 49px;
	min-width: 95px;
	padding-right: 6px;
}

.buy-item-basket::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	top: 12px;
	left: 18px;
	
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.header-buy-item:active {
	color: rgba(255, 255, 255, 0.5);
	
	background-color: #161d29;
}

.basket {
	background-color: #ee3643;
}

.buy-now {
	min-width: 108px;
	padding-right: 22px;
	padding-left: 20px;
	background-color: #63a63e;
}

.buy-now:hover {
	background-color: #5fbb2d;
}

.buy-now:active {
	color: rgba(255, 255, 255, 0.5);
	
	background-color: #518534;
}

.main-title {
	display: block;
	min-width: 210px;
	margin: 0;
	margin-left: 52px;
	margin-top: 2px;
	margin-right: 55px;
	padding: 0;

	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
	font-weight: normal;
}

.header-contacts {
	display: flex;
	flex-direction: column;
}

.user-login-list {
	display: flex;
	margin-left: 69px;
}

.user-login {
	position: relative;
	min-width: 49px;
	margin-right: 10px;
	padding-left: 46px;
	padding-right: 26px;
	padding-bottom: 10px;
}

.user-login::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 17px;
	top: 14px;
	left: 14px;
	
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.user-login:hover::before {
	opacity: 1;
}

.user-login:active::before {
	opacity: 0.3;
}

.user-register {
	padding-left: 23px;
	padding-right: 24px;
	padding-bottom: 12px;
}

.header-contacts-phone {
	position: relative;
	min-width: 189px;
	margin-bottom: 4px;
	padding-left: 71px;
	padding-top: 9px;
	padding-right: 5px;
	padding-bottom: 8px;
	
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	
	border: 3px solid #ffffff;
}

.header-contacts-phone::before {
	position: absolute;
	content: "";
	width: 19px;
	height: 19px;
	top: 10px;
	left: 12px;
	
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
}

.header-contacts-adress {
	padding-left: 9px;
	padding-right: 5px;
	
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-account-menu {
	margin-left: 48px;
}

.user-login-item {
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
	
  font-size: 21px;
	line-height: 21px;
	color: #000000;
	
	background-color: #ffffff;
}

.user-login-item:hover {
	color: #ee3643;
}

.user-login-item:active {
	color: rgba(0, 0, 0, 0.3);
	}

.user-account-name {
	display: block;
	position: relative;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}	
	
.user-account-name::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 17px;
	top: 1px;
	left: -33px;
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}
	
.user-account-logout {

	width: 21px;
	height: 17px;
	margin-top: 2px;
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}
	
.user-account-name:hover::before,
.user-account-logout:hover {
	opacity: 1;
}	
		
.user-account-name:active::before,
.user-account-logout:active  {
	opacity: 0.3;
}		
		
.user-account-name:active {
	color: rgba(0, 0, 0, 0.3);
}
	
.user-order-item {
	font-size: 16px;
	font-weight: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-account{
	margin-left: 32px;
}

.user-order-item:hover {
	color: #ee3643;
}

.user-order-item:active {
	color: rgba(50, 66, 92, 0.3);
}

.site-navigation{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
  font-size: 17px;
	line-height: 17px;
	
	background-color: #32425c;
	
	border-bottom: 5px solid #293449;
}

.site-navigation-item {
	display: block;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 18px;
}

.navigation-first-item {
	padding-left: 51px;
}

.navigation-last-item {
	padding-right: 54px;
}

.site-navigation-item:hover {
	background-color: #293449;
}

.site-navigation-item:active {
	color: rgba(255, 255, 255, 0.5);
	
	background-color: #1d2739;
}

.features-item {
	width: 258px;
	padding-left: 22px;
	padding-top: 20px;
	padding-right: 20px;
	
	font-family: Cuprum, Arial, sans-serif;
	color: #ffffff;
}

.features-title {
	margin: 0;
	margin-bottom: 13px;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	}
	
.features-slider {
	position: relative;
}

.slider-title {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 22px;
	left: 23px;
	
	text-transform: uppercase;
}

.slider-slogan {
	position: absolute;
	top: 60px;
	left: 24px;
	
	font-size: 18px;
	line-height: 24px;
}

.slider-button-inner {
	position: absolute;
	padding-top: 11px;
	padding-left: 49px;
	padding-right: 45px;
	padding-bottom: 11px;
	top: 205px;
	left: 25px;
}
	
.slider-inner {
	display: none;
}
	
.slider-buttons-previous {
	position: absolute;
	width: 22px;
	height: 40px;
	border: none;
	background: none;
	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: 114px;
	right: 573px;
	cursor: pointer;
}

.slider-buttons-next {
	position: absolute;
	width: 22px;
	height: 40px;
	border: none;
	background: none;
	background-image: url("../img/icon-right.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: 114px;
	right: 20px;
	cursor: pointer;
}

.features-slider-toggles {
	position: absolute;
	top: 216px;
	left: 293px;
	width: 100px;
	height: 20px;
	z-index: 100;
	cursor: pointer;
}	

.main-slider-toggle {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
}
	
.main-slider-toggle::after {
	position: absolute;
	content: "";
	z-index:1;
	top: 20%;
	left: 15%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ffffff;
 }

#perf-slide:checked ~ .slider-inner-second {
	display: block;
} 
 
#drill-slide:checked ~ .slider-inner-first {
	display: block;
}
	
#drill-slide:checked ~ .features-slider-toggles .main-slider-toggle-1::before
{
  content: "";
  position: absolute;
  left: 4px;
  top: 5px;
  z-index: 2;
  width: 6px;
  height: 6px;
	
  background-color: #ee3643;
  border-radius: 50%
}

#perf-slide:checked ~ .features-slider-toggles .main-slider-toggle-2::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 2;
  width: 6px;
  height: 6px;
	
  background-color: #ee3643;
  border-radius: 50%
}

.button {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	
	border-radius: 2px;
}

.features-link {
	display: inline-block;
	vertical-align: top;
	margin-left: 3px;
	margin-bottom: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	background-color: rgba(0, 0, 0, 0.1);
}


.features-link:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.link-material {
	padding-right: 24px;
	padding-left: 24px;
}

.link-tool {
	padding-right: 26px;
	padding-left: 26px;
}

.link-tech {

	padding-right: 31px;
	padding-left: 28px;
}

.link-discount {
	padding-right: 23px;
	padding-left: 20px;
}

.link-delivery {
	padding-right: 38px;
	padding-left: 34px;
}

.features-link:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.material {
	position: relative;
	margin-bottom: 20px;
	
	background-color: #ffbf47;
}

.material::after {
	position: absolute;
	content: "";
	width: 44px;
	height: 65px;
	right: 43px;
	top: 31px;
	
	background-image: url("../img/f-material.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.tool {
	position: relative;
	margin-bottom: 20px;
	
	background-color: #3bbce3;
}

.tool::after {
	position: absolute;
	content: "";
	width: 75px;
	height: 61px;
	right: 28px;
	top: 33px;
	
	background-image: url("../img/f-tool.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.tech {
	position: relative;
	margin-bottom: 20px;
	
	background-color: #dc91d8;
}

.tech::after {
	position: absolute;
	content: "";
	width: 78px;
	height: 62px;
	right: 31px;
	top: 31px;
	
	background-image: url("../img/f-tech.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.discount {
	position: relative;
	margin-bottom: 20px;
	
	background-color: #8ed78f;
}

.discount::after {
	position: absolute;
	content: "";
	width: 59px;
	height: 72px;
	right: 45px;
	top: 26px;
	
	background-image: url("../img/f-discount.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.delivery {
	position: relative;
	
	background-color: #ffc047;
}

.delivery::after {
	position: absolute;
	content: "";
	width: 78px;
	height: 63px;
	right: 31px;
	top: 32px;
	
	background-image: url("../img/f-delivery.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}


.features-slider-text {
	font-family: Cuprum, Arial, sans-serif;
	color: #ffffff;
}

.slider-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.slogan-perg {
	font-family: "PT Sans", Arial, sans-serif;
}

.features-slider-buttons {
	position: absolute;
	right: 0;
	top: 0;
}

.button-red {
	background-color: #ee3643;
}

.button-red:hover {
	background-color: #ca2c37;
}

.button-red:active {
	background-color: #ba2732;
}

.heading-container {
	background-color: #f9f5f0;
}

.heading-title {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.heading-blue {
	color: #32425c;
}
	
.goods-list,
.companies-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.catalog-item {
	margin-right: 20px;
	position: relative;
	width: 218px;
	padding-bottom: 10px;
	border: 1px solid #eaeaea;
}

.catalog-items-list .catalog-item:nth-child(3n) {
	margin-right: 0;
}

.item-for-catalog {
	margin-bottom: 20px;
}

.new-catalog::before {
	position: absolute;
	content: "";
	width: 60px;
	height: 59px;
	
	top: -1px;
	right: -1px;
	
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
	
}

.catalog-item:hover {
	border: 1px solid transparent;
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-name {
	display: inline-block;
	vertical-align: top;
	width: 180px;
	margin: 0;
	margin-top: 21px;
	padding-left: 18px;
	padding-right: 10px;
	text-align: center;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.catalog-item:hover img {
	display: none;
}

.catalog-item:hover .catalog-buy-buttons {
	display: block;
}

.catalog-buy-buttons {
	display: none;
}

.active-catalog img {
	display: none;
}

.active-catalog-buttons {
	display: block;
}

.button-green {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-width: 42px;
	margin-top: 44px;
	margin-left: 41px;
	margin-bottom: 8px;
	padding-top: 9px;
	padding-left: 49px;
	padding-right: 44px;
	padding-bottom: 7px;
	
	background-color: #63a63e;
	border-bottom: 3px solid #367315;
}

.button-green::before {
	position: absolute;
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	top: 10px;
	left: 14px;
	
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.button-green:hover::before {
	opacity: 1;
}

.button-green:hover {
	background-color: #5fbb2d;
}

.button-green:active {
	background-color: #518534;
	border-bottom-color: #518534;
}

.button-bookmark {
	display: inline-block;
	vertical-align: top;
	min-width: 71px;
	margin-left: 41px;
	margin-bottom: 30px;
	padding-top: 7px;
	padding-left: 33px;
	padding-right: 25px;
	padding-bottom: 7px;
	
	color: #32425c;
	
	border: 3px solid #63a63e;
}

.button-bookmark:hover {
	border: 3px solid #32425c;
}

.button-bookmark:active {
	opacity: 0.3;
}

.price {
	display: block;
	margin-top: 10px;
	margin-left: 77px;
	margin-bottom: 20px;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;

}

.oldprice {
	margin-top: 12px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.price-background {
	position: relative; 
}

.price-background::after {
	position: absolute;
	content: "";
	width: 141px;
	height: 38px;
	top: -10px;
	left: -35px;
	z-index: -1;
	background-image: url("../img/price-red.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.without-discount {
	margin-top: 50px;
}

.companies-title {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-right: 105px;
	padding: 0;
	padding-top: 30px;
	padding-left: 24px;
	padding-right: 35px;
	padding-bottom: 29px;/*30*/
	
	font-weight: normal;
}

.button-companies {
	display: inline-block;
	vertical-align: top;
	
	margin-top: 25px;
	margin-left: 110px;
	margin-right: 24px;
	padding-top: 10px;
	padding-right: 69px;
	padding-left: 69px;
	padding-bottom: 10px;
}

.companies-item {
	width: 218px;
	margin:0;
	margin-bottom: 20px;
	padding-bottom: 26px;/*25*/
	
	border: 1px solid #e5e5e5;
}

.companies-item:hover {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.companies-item:active {
	opacity: 0.3;
}

.service {
	background-color: #f4f8f9;
}

.service-slider-list {
	position: relative;
	margin: 0;
	margin-top: 2px;
	padding: 0;
	list-style: none;
}

.service-slider-list::after {
	position: absolute;
	content: "";
	width: 10px;
	height: 279px;
	top: -50px;
	right: 0;
	
	background-image: url("../img/service-shadow-right.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.service-slider {
	display: flex;
}

.slides-guarantee,
.slides-credit {
	display: none;
}

.service-button {
	display: block;
	box-sizing: border-box;
	min-width: 240px;
	min-height: 61px;
	padding-top: 14px;
	text-align: left;
	padding-left: 22px;
	
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	
	background-color: #32425c;
	border-bottom: 1px solid #4e637c;
}

.service-button:hover {
	background-color: #293449;
}

.service-slider-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	
	font-family: Cuprum, Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: normal;
	color: #32425c;
}

.service-slider-text {
	margin: 0;
	padding: 0;
}

.title-delivery {
	margin-bottom: 24px;
}

.text-delivery {
	width: 275px;
}

.slides-delivery {
	background-image: url("../img/service-delivery.png");
	background-position: 151px 25px;
	background-repeat: no-repeat;
}

.slides-guarantee {
	background-image: url("../img/service-guarantee.png");
	background-position: 239px 3px;
	background-repeat: no-repeat;
}

.text-guarantee {
	width: 375px;
}

.slides-credit {	
	background-image: url("../img/service-credit.png");
	background-position: 165px 1px;
	background-repeat: no-repeat;
}

.title-credit {
	margin-bottom: 24px;
}

.title-guarantee {
	margin-bottom: 24px;
}

.text-credit {
	margin-bottom: 27px;
}

.button-credit {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 195px;
	min-height: 38px;
	padding: 0;
	margin: 0;
}

/*
.button-credit {
	padding-top: 10px;
	padding-right: 44px;
	padding-left: 44px;
	padding-bottom: 10px;
}
*/
.service-slider-slides {
	display: none;
	width: 620px;
	/*padding-bottom: 130px;*/
	margin-left: 80px;
}

.slides-delivery {
	padding-bottom: 130px;
}

.slides-guarantee {
	padding-bottom: 106px;
}

.slides-credit {
	padding-bottom: 113px;
}

#delivery-radio-button:checked ~ .service-slider-inner .slides-delivery {
	display: block;
}

#guarantee-radio-button:checked ~ .service-slider-inner .slides-guarantee {
	display: block;
}

#credit-radio-button:checked ~ .service-slider-inner .slides-credit {
	display: block;
}

#delivery-radio-button:checked ~ .service-slider-buttons .delivery-button-active,
#guarantee-radio-button:checked ~ .service-slider-buttons .guarantee-button-active,
#credit-radio-button:checked ~ .service-slider-buttons .credit-button-active
 {
	background-color: #ffffff;
	display: block;
	color: #32425c;
	border-color: #ffffff;
}

.promo-delivery {
	margin: 0;
	margin-left: 36px;
	margin-bottom: 44px;
	padding: 0;
	list-style: none;
}

.delivery-company {
	position: relative;
	margin-bottom: 20px;
	
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
}

.delivery-company::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	top: 10px;
	left: -36px;
	
	background-color: #ee3643;
}

.promo-title,
.contacts-title {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	
	font-weight: normal;
}

.contacts-text {
	width: 180px;
	margin-bottom: 32px;
}

.button-promo {
	padding-top: 12px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
}


.button-contacts {
	padding-top: 11px;
	padding-left: 64px;
	padding-right: 58px;
	padding-bottom: 10px;
}



.main-footer,
.footer {
	font-family: Cuprum, Arial, sans-serif;
}

.main-footer{
	margin-top: 93px;
	
}

.footer-top-group {
	background-color: #32425c;
	padding-bottom: 50px;
}

.footer-top {
	margin-bottom: 32px;
}

.footer-logo {
	padding-top: 18px;
	padding-left: 41px;
	padding-right: 41px;
	padding-bottom: 15px;
	font-size: 30px;
	line-height: 30px;
}

.footer-navigation-list,
.footer-features-list,
.footer-social-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social-list {
	display: flex;
	margin-right: 120px;
}

.footer-item {
	margin-left: 60px;
	
	font-size: 18px;
	line-heigt: 24px;
}

.footer-navigation-item {
	color: #f1f5f7;
}

.footer-feature-item {
	color: #ffd180;
}

.footer-item:hover {
	text-decoration: underline;
}

.footer-navigation-item:active {
	color: rgba(241, 245, 247 , 0.5);
}

.footer-feature-item:active {
	color: rgba(255, 209, 128, 0.5);
}

.footer-adress {
	width: 330px;
	margin: 0px;
	margin-left: 2px;
	padding: 0px;
	font-size: 18px;
	line-heigth: 24px;
	color: #f3f7f9;
}

.footer-bottom {
	padding-bottom: 30px;
	padding-top: 37px;
	background-color: #293449;
}

.social {
	display: flex;
	width: 40px;
	height: 40px;
	
	border-radius: 50%;
	background-color: #212a3a;
}

.social:hover,
.social:active {
	background-color: #ee3643;
}

.social-vk {
	background-image: url("../img/social-vk.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social-fb {
	margin-left: 5px;
	background-image: url("../img/social-fb.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social-inst {
	margin-left: 5px;
	background-image: url("../img/social-inst.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.footer-copyright {
	width: 230px;
	margin: 0;
	margin-right: auto;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-bottom-row {
	display: flex;
}

.developers-contact {
	width: 140px;
	margin-right: 20px;
}

.developers-site {
	width: 112px;
	padding-left: 28px;

}

.developers {
	display: block;
	font-size: 16px;
	line-height: 18px;
}

.developers-label {
	font-weight: normal;
	color: #ffffff;
}

.developers-link {
	color: #ffd180;
}

.developers-link:hover {
	text-decoration: underline;
}

.developers-link:active {
	color: #ee3643;
}

.write-us {
	display: none;
	display: none;
	position: absolute;
	top: 2520px;
	left: calc(50% - 310px);
	width: 620px;
	
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	
	background-color: #ffffff;
	border-top: 7px solid #ff5357; 
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.write-us-form {
	position:relative;
}

.write-us-inputs {
	display: flex;
	flex-wrap: wrap;
	margin-top: 46px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 37px;
}

.write-us-top {
	display: flex;
	min-width: 460px;
	justify-content: space-between;
}

.write-us-name,
.write-us-email,
.write-us-letter {
	box-sizing: border-box;
	margin-top: 10px;
	padding-top: 7px;
	border-radius: 3px;
}

.write-us-name,
.write-us-email {
	width: 220px;
	height: 38px;
	padding-left: 13px;
}

.write-us-letter {
	width: 460px;
	height: 114px;
	padding-left: 15px;
	resize: none;
}

.button-write-us {
	box-sizing: border-box;
	min-width: 460px;
	min-height: 38px;
	margin-left: 80px;
}

.half-width {
	width: 220px;
}

.max-width {
	margin-top: 20px;
	width: 460px;
}

.close-modal {
	position: absolute;
	width: 21px;
	height: 21px;
	border: none;
	background: none;
	background-image: url("../img/close-modal.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: 9px;
	right: 9px;
	cursor: pointer;
}

button.button {
	border: none;
}

.write-us input,
.write-us textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	
	border: 2px solid #dee3e4;
}

.write-us input:hover,
.write-us textarea:hover {
	border: 2px solid #b5b5b5;
}

.write-us input:focus,
.write-us textarea:focus {
	border: 2px solid #ee3643;
}

.write-us-button{
	padding-top: 37px;
	padding-bottom: 37px;
	background-color: #f4f4f4;
}

.write-us input::-webkit-input-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
	}
.write-us input::-moz-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}
.write-us input:-ms-input-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}
.write-us input:-moz-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}
.write-us textarea::-webkit-input-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}
.write-us textarea::-moz-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}
.write-us textarea:-ms-input-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}
.write-us textarea:-moz-placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
}

.breadcrumbs-items {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs-items {
	position: absolute;
	top: 340px;
	left: 92;
}

.breadcrumb {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.breadcrumb-icon {
	position: relative;
}

.breadcrumb-icon::before {
	position: absolute;
	content: "";
	width: 8px;
	height: 12px;
	top: 3px;
	left: -23px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0px;
}

.breadcrumb-home {

	width: 14px;
	height: 12px;
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-title {
	margin: 0;
	padding: 0;
	padding-top: 29px;
	padding-left: 27px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	
	font-weight: normal;
	background-color: #f2f6f8;
}

.sorting-title {
	display: block;
	padding-top: 9px;
	padding-left: 18px;
	padding-bottom: 11px;
	line-height: 18px;
	text-transform: uppercase;
	
	background-color: #f7f3ec;
}

.sorting-item {
	display: inline-block;
	padding-top: 9px;
}

.sorting-icon-container {
	padding-top: 14px;
	display: inline-block;
	vertical-align: center;
	width: 11px;
	height: 5.5px;
}

.sorting-up {
	display: block;
	border: 5.5px solid #c5c5c5;
  border-bottom-width: 9px;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sorting-down {
	display: block;
	border: 5.5px solid #c5c5c5;
  border-top-width: 9px;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sorting-up:hover {
	border-bottom-color: #231f20;
}
.sorting-down:hover {
	border-top-color: #231f20;
}

.sorting-active-up {
	border-bottom-color: #ee3643;
}

.range-inner {
	position: relative;
	margin-bottom: 9px;
	min-height: 80px;
	background-color: #f7f3ec;
}

.range-full-width {
	position: absolute;
	width: 180px;
	height: 2px;
	left: 20px;
	top: 39px;
	background-color: #d7dcde;
}

.required-width {
	width: 152px;
	height: 2px;
	background-color: #00ca74;
}

.catalog-range-button {
	position: absolute;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.min-price-button {
	left: 20px;
	top: 30px;
}

.max-price-button {
	left: 160px;
	top: 30px;
}

.min-price-value,
.max-price-value{
	box-sizing: border-box;
	width: 95px;
	height: 38px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 10px;
	font-size: 17px;
	line-height: 18px;
}

.min-price-value {
	padding-left: 46px;
}

.max-price-value {
	padding-left: 25px;
}

.price-range-form {
	margin-bottom: 25px;
}

.price-range-form input {
	border: none;
	background-color: #f7f3ec;
}

.price-range-input {
	display: flex;
	justify-content: space-between;
}

.connection-input-symbol {
	margin-top: 6px;
}

.price-range-form input::-webkit-input-placeholder {font-size: 17px; color: #000000; line-height: 18px;}
.price-range-form input::-moz-placeholder {font-size: 17px; color: #000000; line-height: 18px;}
.price-range-form input:-ms-input-placeholder {color: #000000; line-height: 18px;}
.price-range-form input:-moz-placeholder {font-size: 17px; color: #000000; line-height: 18px;}

.catalog-items-sorting {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	
	background-color: #f7f3ec;
}

.catalog-filter-form {
	margin-top: 10px;
}

.catalog-filter-form fieldset{
	margin: 0;
	padding: 0;
	border: none;
}

.catalog-form-container {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.legend-title {
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.legend-companies {
	margin-top: 15px;
}

.legend-price {
	margin-bottom: 15px;
}

.company-form-list,
.charging-form-list {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	
	list-style: none;
}

.company-form-list {
	margin-top: 14px;
	padding-bottom: 3px;
}

.company-form-list li {
	margin-bottom: 20px;
	padding-left: 34px;
}

.company-label {
	position: relative;
	display: block;
}

.company-label::before {
	position: absolute;
	content: "";
	width: 23px;
	height: 23px;
	top: 0;
	left: -34px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.company-form-checkbox:checked + .company-label::before {
	width: 27px;
	background-image: url("../img/checkbox-on.svg");
}

.company-label:hover::before {
	background-image: url("../img/checkbox-off-hover.svg");
}

.company-form-checkbox:checked + .company-label:hover::before {
	background-image: url("../img/checkbox-on-hover.svg");
}

.company-form-checkbox:disabled + .company-label {
	opacity: 0.3;
}

.legeng-charge {
	margin-top: 16px;
}

.charging-form-list {
	margin-top: 14px;
}

.charging-form-list li {
	margin-bottom: 20px;
	padding-left: 34px;
}

.charging-form-label {
	position: relative;
	display: block;
}

.charging-form-label::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;	
	top: -2px;
	left: -35px;
	
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
} 

.charging-form-input:checked + .charging-form-label::before {
	background-image: url("../img/radio-on.svg");
}

.charging-form-label:hover::before {
	background-image: url("../img/radio-off-hover.svg");
}

.charging-form-input:checked + .charging-form-label:hover::before {
	background-image: url("../img/radio-on-hover.svg");
}

.charging-form-input:disabled + .charging-form-label {
	opacity: 0.3;
}

.sorting-list,
.sorting-icon {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorting-icon {
	display: flex;
	justify-content: space-between;
	min-width: 43px;
	margin-right: 17px;
}

.sorting-item {
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	
	border-bottom: 1px dotted red;
	}

.sort-type {
	color: #ee3643;
	
	border:none;
}
	
.sorting-item:hover {
	color: #000000;
	
	border-bottom: 1px solid red;
}
/*Ниже индикатор активности ?*/
.sorting-item:focus {
	color: #ee3643;
	
	border:none;
}

.catalog-items-list,
.paginator-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-items-list {
	margin-bottom: 32px;
}

.paginator-page {
	margin-right: 10px;
	padding-top: 8px;
	padding-left: 15px;
	padding-right: 14px;
	padding-bottom: 10px;
	border-radius: 4px;
}

.paginator-next {
	padding-top: 8px;
	padding-left: 31px;
	padding-right: 30px;
	padding-bottom: 10px;
	
	border-radius: 4px;
}

.paginator-list {
	display: flex;
	margin-left: 240px;
}

.catalog-items-list {
	display: flex;
	flex-wrap: wrap;
}


.button-catalog-form {
	min-width: 140px;
	min-height: 38px;
	margin-top: 59px;
	font-family: "PT Sans", Arial, sans-serif;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	text-transform: uppercase;
}

.paginator-item {
	text-transform: uppercase;
	color: #000000;
	line-height: 18px;

	border: 1px solid #e5e5e5;
}

.paginator-item:hover {
	border: 1px solid #bdc6ca;
}

.paginator-item:active {
	border: 1px solid #ee3643;
}

.current {
	color: #ffffff;
	
	background-color: #ee3643;
	border: 1px solid #ee3643;
}

.drill-facts {
	background-color: #f2f6f8;
	padding-bottom: 69px;
}

.drill-facts-title {
	margin: 0;
	margin-bottom: 27px;
	padding: 0;
	padding-top: 63px;
	
	font-weight: normal;
}

.drill-facts-text {
	margin: 0;
	padding: 0;
}

.modal-cart {
	display: none;
	position: absolute;
	width: 620px;
	top: 411px;
	left: calc(50% - 310px);
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	
	background-color: #ffffff;
	border-top: 7px solid #ee3643; 
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-cart-text {
	position: relative;
	margin-top: 64px;
	margin-left: 178px;
}

.modal-cart-text::before {
	position: absolute;
	display: block;
	content: "";
	width: 66px;
	height: 66px;
	top: -16px;
	left: -97px;
	
	background-image: url("../img/icon-mark.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.modal-button-container {
	display: flex;
	justify-content: space-between;
	margin-top: 69px;
	padding-left: 80px;
	padding-right: 80px;
	
	background-color: #f1f1f1;
}

.modal-button-cart {
	box-sizing: border-box;
	display: flex;
	min-width: 220px;
	min-height: 38px;
	margin-top: 37px;
	margin-bottom: 37px;
	align-items: center;
	justify-content: center;
}

.button-clean {
	color: #000000;
	
	background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content-center {
	width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.catalog {
	margin-bottom: 68px;
}

.features-left-column {
	display: flex;
	width: 621px;
	flex-wrap: wrap;
}

.features-left-column .features-item:first-child {
	margin-right: 20px;
}

.features-right-column {
	display: flex;
	width: 300px;
	flex-direction: column;
}

.features {
	display: flex;
	justify-content: space-between;
	margin-bottom: 46px;
}

.goods {
	margin-bottom: 21px;
}

.goods-title {
	padding-top: 5px;
	padding-left: 28px;
	padding-right: 20px;
	padding-bottom: 5px;
	
	font-weight: normal;
}

.goods-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 19px;
}

.goods-title-button {
	margin-right: 24px;
	padding-top: 10px;
	padding-left: 54px;
	padding-right: 55px;
	padding-bottom: 10px;
}

.goods-list {
	display: flex;
	flex-wrap: wrap;
}

.goods-list .catalog-item:last-child {
	margin-right: 0;
}

.companies {
	margin-bottom: 65px;
}

.companies-heading {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.companies-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
} 

.service {
	margin-bottom: 79px;
}

.service-title {
	margin:0;
	margin-bottom: 25px;
	padding:0;
	padding-top: 65px;
	
	font-weight: normal;
}

.service-promo {
	width: 400px;
	margin-bottom: 68px; /*69*/
}

.about-contact-columns {
	display: flex;
	justify-content: space-between;
}

.promo {
	width: 515px;
}

.promo-text {
	padding: 0;
	margin: 0;
}

.first-promo-text {
	margin-bottom: 24px;;
}

.second-promo-text {
	width: 400px;
	margin-bottom: 21px;
}

.contacts {
	width: 300px;
}

.map {
	display: none;
	position: absolute;
	width: 940px;
	height: 446px;
	top: 2348px;
	left: calc(50% - 470px);
}

.map img {
	box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.contacts-map {
	margin-bottom: 40px;
}

.header-top-row  {
	display: flex;
	margin-bottom: 46px;
}

.header-buy-items {
	display: flex;
}

.header-middle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.header {
	padding-bottom: 60px;
	margin-bottom: 59px;
}

.footer-row {
	display: flex;
}

.footer-navigation-list {
	display: flex;
	margin-top: 37px;
	margin-left: auto;
}

.footer-middle {
	display: flex;
}

.footer-features-list {
	display: flex;
	margin-left: auto;
}

.left-catalog-container {
	width: 220px;
}

.right-catalog-container {
	width: 700px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 6px;
}

.sorting-list {
	display: flex;
	justify-content: space-between;
	min-width: 355px;
	margin-left: auto;
	margin-right: 46px;
	
}

.new-features {
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}
